name: Reduce disc space

on:
  workflow_dispatch:
    inputs:
      manual-trigger:
        description: 'Inspect runner disc space'
        default: 'Run'

jobs:
  optimize-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        shell: bash
        run: |
            df -h
            sudo rm -rf /usr/share/dotnet
            sudo rm -rf /usr/local/lib/android
            sudo rm -rf /opt/ghc
            sudo rm -rf /opt/hostedtoolcache/CodeQL
            sudo docker image prune --all --force
            sudo docker builder prune -a
            df -h
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: submit
