# This is a basic workflow to help you get started with Actions

name: Check PullRequest

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  pull_request_target:
    branches: [ "submit" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  check_PR:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip' # caching pip dependencies
      - run: pip install -r requirements.txt
      
      - name: Check submission PR
        run: python scripts/check_submission.py
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      
      #- name: add label to PR
      #  uses: andymckay/labeler@master
      #  with:
      #    add-labels: "automerge"
          
      # merge PR, if steps have not thrown errors yet
      - id: automerge
        name: automerge
        uses: "pascalgn/automerge-action@v0.15.3"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: if_merged
        if: ${{ steps.automerge.outputs.mergeResult == 'merged'}}
        run: |
          echo "Pull request ${{ steps.automerge.outputs.pullRequestNumber }} merged"
          echo "Forecast successfully submitted. Thank you for your participation!"
      - name: if_not_merged
        # let pipeline fail
        if: ${{ steps.automerge.outputs.mergeResult != 'merged'}}
        run: |
          echo "Pull request could not be merged automatically. Waiting for manual review."
          exit 1
